---
title: a15k Developer Portal
---

<h1>
  Assessment Network Developer Portal
</h1>

<p>The Assessment Network (a15k), established by Rice University’s OpenStax initiative, is a community of member organizations working through sustainable business models to pool assessment items and the knowledge accrued about them.</p>

<p>This Developer Portal contains documentation, libraries, and API specifications for connecting your organization with the network's content.</p>

<ul>
  <li><%= link_to "Introduction", "/intro"%> - A high-level runthrough of what the network aims to achieves and the concepts used on this site.</li>
  <li><%= link_to "Tech Overview", "/tech" %> - An overview of the technology and how to get started.</li>
  <li><%= link_to "Items", "/items" %> - Learn how to contribute, curate, and access assessment items and their metadata.</li>
  <li><%= link_to "Interactions", "/interactions" %> - Learn how to contribute and access item interaction data.</li>
</ul>

<p>Need help?  Contact us at <%= mail_to "a15k@openstax.org", "a15k@openstax.org" %>.</p>
